/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    text-shadow: 0 0 1px black;
}

img {
    width: 100px;
    border-radius: 50%;
}

.hero-section {
    background-image: url('images/lagos.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.hero-text {
    margin: 10px;
}

.head-1 {
    color: whitesmoke;
    display: inline;
    background-color: #1D3557;
    padding: 7px 12px;
    border-radius: 7px;
}

#head-2-div {
    background-color: #457B9D;
    padding: 5px 20px;
    border-radius: 15px;
}

.head-2 {
    color: whitesmoke;
    display: inline;
    align-items: center;
}

h3, p, h4 {
    color: #1D3557;
}

.activity {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}

.activity-content {
    border: 1px solid black;
    border-radius: 20px;
    padding: 10px 2px;
    margin: 5px 10px;
    width: 200px;
}

.activity-content:hover {
    border: none;
    background-color: #A8DADC;
}