/**
Palette: https://scrimba.com/links/hometown-palette
RED: #E63946
LIGHT: #F1FAEE
AQUA: #A8DADC
LIGHT BLUE: #457B9D
DARK BLUE: #1D3557

*/

body {
    margin: 0;
    text-align: center;
    text-shadow: 0 0 1px black;
    }

.img {
    width: 100px;
    border-radius: 50%;
}

.hero-section {
    background-image: url('images/lagos.jpg');
    background-size: cover;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 0px;
}

.hero-text {
    margin: 10px;
}

.head-1 {
    color: whitesmoke;
    display: inline;
    background-color: #1D3557;
    padding: 7px 12px;
    border-radius: 7px;
}

#head-2-div {
    background-color: #457B9D;
    padding: 5px 20px;
    border-radius: 15px;
}

.head-2 {
    color: whitesmoke;
    display: inline;
    align-items: center;
}

h1, h2 {
    font-family: 'Montserrat', sans-serif;
}

h3, p, h4 {
    color: #1D3557;
    font-family: 'Inconsolata', monospace;
}

.activity-head {
    margin: 0px;
    padding: 5% 0%;
}
#activity-section {
    background-color: rgb(245, 250, 255);
    margin: 0px;
    padding: 0px 0px 3% 0px;
}
.activity {
    display: flex;
    justify-content: center;
}
a {
    text-decoration: none;
}

.activity-content {
    
    border-radius: 20px;
    padding: 10px 2px;
    margin: 5px 10px;
    width: 200px;
}

.activity-content:hover {
    border: none;
    background-color: #A8DADC;
    font-size: 1.05rem;
    transition: all 0.5s ease;
}

#guide-section {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    margin: 5% 20%;
    background-color: #457B9D;
    padding: 20px 10px;
    border-bottom: 5px solid black;
    border-radius: 10px;
}

.guide-text {
    width: 400px;
    padding: 1% 2%;
}

.guide-img {
    width: 150px;
    border-radius: 10px;
}
